<div id="profilePage" class="row">
  <div id="yourProfile" class="col">

    <div class="col mb-4">
      <div class="col-auto">
        <div id="titleCard">{{username}}'s Page</div>
      </div>
    </div>

    <div id="newHobbyCard" class="col">
      <div class="card mb-3">

        <h3 id="createHobbyHeader" class="card-header">Create a New Hobby:</h3>

      </div>

    <div class="col-md-6 hobby-list">
      <h3>My Hobbies:</h3>

      {{#each hobbies as |hobby|}}
        <div class="row mb-2">
          <div class="col-md-8">
            <h4><a href="/hobby/{{hobby.id}}">{{hobby.name}}</a></h4>
          </div>
          <div class="col-md-4">
            <button
              class="btn btn-sm btn-danger delete-button"
              data-id="{{hobby.id}}"
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    </div>

    </div>
  </div>

  <div id="newHobbyButtonColumn" class="col">
    <button id="newHobbyButton" class="btn btn-primary">Add a new hobby!</button>
  </div>

</div>

<script src="./js/profile.js"></script>