<div id="profilePage" class="row">
  <div id="yourProfile" class="col-8">

    <div class="col mb-6">
      <div class="col-auto">
        <div id="titleCard">{{username}}'s Page</div>
      </div>
    </div>

    <div id="list-of-hobbies" class="col hobby-list">
      <h3>My Hobbies:</h3>
      {{#each hobbies as |hobby|}}
        <div class="row mb-2">
          <div class="col">
            <h4><a href="/hobby/{{hobby.id}}">{{hobby.name}}</a></h4>
          </div>
          <div class="col">
            <button
              id="deleteBtn"
              class="btn btn-sm btn-danger delete-button"
              data-id="{{hobby.id}}"
            >DELETE HOBBY</button>
          </div>
        </div>
      {{/each}}
    </div>

  </div>


  <div id="rightSideColumn" class="col">
    <button id="newHobbyButton" class="btn btn-primary">Add a new hobby!</button>

  </div>

</div>

<script src="./js/profile.js"></script>