<div id="profilePage" class="row">
  <div id="yourProfile" class="col">

    <div class="col mb-4">
      <div class="col-auto">
        <div id="titleCard">{{username}}'s Page</div>
      </div>
    </div>

    <div id="newHobbyCard" style="display: none" class="col">
      <div class="card mb-3">

        <h3 id="createHobbyHeader" class="card-header">Create a New Hobby:</h3>

        <form class="form new-hobby-form card-body">
          <div class="form-group">
            <label for="hobby-name">Hobby name:</label>
            <input
              class="form-input"
              type="text"
              id="hobby-name"
              name="hobby-name"
            />
          </div>
          <div class="form-group">
            <label for="hobby-desc">Description:</label>
            <textarea
              class="form-input"
              id="hobby-desc"
              name="hobby-desc"
            ></textarea>
          </div>





          <div class="form-group">
            <label for="hobby-category">Category:</label>

            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown button
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">





                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>

          </div>

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary submit-hobby"
            >Create</button>
            <a href="/profile"><button
                class="btn cancel-button"
              >Cancel</button></a>
          </div>

        </form>

      </div>

      {{#if hobbies.length}}
        <div class="col-md-6 hobby-list">
          <h3>My Hobbies:</h3>

          {{#each hobbies as |hobby|}}
            <div class="row mb-2">
              <div class="col-md-8">
                <h4><a href="/hobby/{{hobby.id}}">{{hobby.name}}</a></h4>
              </div>
              <div class="col-md-4">
                <button
                  class="btn btn-sm btn-danger delete-button"
                  data-id="{{hobby.id}}"
                >DELETE</button>
              </div>
            </div>
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div id="newHobbyButtonColumn" class="col">
    <button id="newHobbyButton" class="btn btn-primary">Add a new hobby!</button>
  </div>

</div>

<script src="./js/profile.js"></script>