<div id="profilePage" class="row">
  <div id="yourProfile" class="col">

    <div class="row">
      <div class="col-auto">
        <div id="titleCard">{{user.username}}'s Hobby</div>
      </div>
    </div>



    <div id="list-of-hobbies" class="col hobby-list">
      <div class="card mb-2">
        <div class="col">
          <h1 id="singleHobbyName" class="card-header">{{name}}</h1>
        </div>
        <div class="col">
          <h2 id="singleHobbyDescription" class="card-body">{{description}}</h2>
        </div>
      </div>
    </div>



  </div>
</div>