<div id="profilePage" class="row">
  <div id="yourProfile" class="col-8">

    <div class="row">
      <div class="col-auto">
        <div id="titleCard">{{user.username}}'s Page</div>
      </div>
    </div>

    <div id="list-of-hobbies" class="col hobby-list">
      <h3 class="mt-4">Hobby:</h3>     
        <div class="row mb-2">
          <div class="col">
            <h4>{{name}}</h4>
            <p>{{description}}</p>
          </div>
          <div class="col">
          </div>
        </div>
    </div>

  </div>
</div>
